################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/SharpBoot/MorePerfectDOSVGA.ttf
/SharpBoot/MorePerfectDOSVGA2.ttf
/SharpBoot/obj
/SharpBoot/bin/Debug/SharpBoot.vshost.exe.manifest
*.userprefs
/SharpBoot/bin/Debug
/.vs/
/SharpBoot.sln.DotSettings.user
/SharpBoot/bin/Release
/SharpBoot/Resources/SharpBoot.AdminProcess.exe.config
/SharpBoot/Resources/SharpBoot.AdminProcess.vshost.exe.config
/SharpBoot/Resources/SharpBoot.AdminProcess.vshost.exe.manifest
/SharpBoot.AdminProcess/bin/Release
/SharpBoot.AdminProcess/obj
/SharpBoot/Resources/System.Net.Http.xml
