################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/SharpBoot/MorePerfectDOSVGA.ttf
/SharpBoot/MorePerfectDOSVGA2.ttf
/SharpBoot/obj
/SharpBoot/bin/Debug/SharpBoot.vshost.exe.manifest
*.userprefs
/SharpBoot/bin/Debug
/.vs/SharpBoot/v14
/SharpBoot.sln.DotSettings.user
/SharpBoot/bin/Release
