<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SharpBoot.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <SharpBoot.Properties.Settings>
      <setting name="Lang" serializeAs="String">
        <value>en</value>
      </setting>
      <setting name="AutoAddInfo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastAppsUpdate" serializeAs="String">
        <value>1970-01-01</value>
      </setting>
      <setting name="AppsXml" serializeAs="String">
        <value>&lt;?xml version="1.0" ?&gt;
&lt;apps&gt;
	&lt;!--
	Categories:
	
	-1		None
	0		Backup
	1		BIOS
	2		CPU
	3		Linux
	4		Partition
	5		Password
	6		RAM
	7		Recovery
	8		Testing
	9		Utility
	
	--&gt;
    &lt;app&gt;
        &lt;name&gt;Kali Linux&lt;/name&gt;
        &lt;category&gt;3&lt;/category&gt;
        &lt;filenameRegex&gt;^kali-linux-([0-9.]+)-([0-9a-z]+).iso$&lt;/filenameRegex&gt;
        &lt;noDl&gt;false&lt;/noDl&gt;
        &lt;description&gt;
            &lt;desc lang="de"&gt;Kali Linux ist eine auf Debian beruhende Distribution, die vor allem Programme für Sicherheitstests versammelt. Obwohl Kali sich in erster Linie an professionelle Computersicherheitsfachleute richtet, steht es auch Privatanwendern zur Verfügung.&lt;/desc&gt;
            &lt;desc lang="fr"&gt;Kali Linux est une distribution Linux pour pénétrer les systèmes.&lt;/desc&gt;
            &lt;desc lang="ro"&gt;Kali este o distribuție Linux bazată pe Debian GNU / Linux concepută pentru securitatea în informatică și gestionată de către Offensive Security. Este considerat succesorul lui BackTrack Linux.&lt;/desc&gt;
            &lt;desc lang="en"&gt;Kali Linux is a penetration testing Linux distribution.&lt;/desc&gt;
			&lt;desc lang="ru"&gt;Kali Linux - GNU/Linux-LiveCD, возникший как результат слияния WHAX и Auditor Security Collection.&lt;/desc&gt;
			&lt;desc lang="zh-Hans"&gt;Kali Linux是基于Debian的Linux发行版， 设计用于数位鉴识和渗透测试（英语：Penetration test）。由Offensive Security Ltd维护和资助。最先由Offensive Security的Mati Aharoni和Devon Kearns通过重写BackTrack来完成，BackTrack是他们之前写的用于取证的Linux发行版。&lt;/desc&gt;
			&lt;desc lang="zh-Hant"&gt;Kali Linux是基於Debian的Linux發行版， 設計用於數位鑑識和滲透測試（英語：Penetration test）。由Offensive Security Ltd維護和資助。最先由Offensive Security的Mati Aharoni和Devon Kearns通過重寫BackTrack來完成，BackTrack是他們之前寫的用於取證的Linux發行版。&lt;/desc&gt;
        &lt;/description&gt;
        &lt;versions&gt;
            &lt;version&gt;
                &lt;hash&gt;sha1:8e0f63bc97842b2af6ff34986790efeb10d4d1a0&lt;/hash&gt;
                &lt;name&gt;Kali Linux 1.0.7&lt;/name&gt;
                &lt;download&gt;http://cdimage.kali.org/kali-1.0.7/kali-linux-1.0.7-i386.iso&lt;/download&gt;
                &lt;filenameRegex&gt;/kali-linux-1.0.7-(.*).iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;false&lt;/isLatest&gt;
            &lt;/version&gt;
            &lt;version&gt;
                &lt;hash&gt;sha1:6e5e6390b9d2f6a54bc980f50d6312d9c77bf30b&lt;/hash&gt;
                &lt;name&gt;Kali Linux 2.0 x86&lt;/name&gt;
                &lt;download&gt;http://cdimage.kali.org/kali-2.0/kali-linux-2.0-i386.iso&lt;/download&gt;
                &lt;filenameRegex&gt;kali-linux-2.0-i386.iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;true&lt;/isLatest&gt;
            &lt;/version&gt;
            &lt;version&gt;
                &lt;hash&gt;sha1:aaeb89a78f155377282f81a785aa1b38ee5f8ba0&lt;/hash&gt;
                &lt;name&gt;Kali Linux 2.0 x64&lt;/name&gt;
                &lt;download&gt;http://cdimage.kali.org/kali-2.0/kali-linux-2.0-amd64.iso&lt;/download&gt;
                &lt;filenameRegex&gt;kali-linux-2.0-amd64.iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;false&lt;/isLatest&gt;
            &lt;/version&gt;
        &lt;/versions&gt;
    &lt;/app&gt;
    &lt;app&gt;
        &lt;name&gt;Fedora&lt;/name&gt;
        &lt;category&gt;3&lt;/category&gt;
        &lt;filenameRegex&gt;^Fedora-Live-([A-Za-z]+)-([0-9a-z]+)-([0-9-]+).iso$&lt;/filenameRegex&gt;
        &lt;noDl&gt;false&lt;/noDl&gt;
        &lt;description&gt;
            &lt;desc lang="de"&gt;Fedora ist eine RPM-basierte Linux-Distribution. Ziel der Entwickler der Distribution ist es, freie Software zu fördern und ein Betriebssystem für eine möglichst vielfältige Zielgruppe zu gestalten.&lt;/desc&gt;
            &lt;desc lang="fr"&gt;Fedora, anciennement Fedora Core, est un système d’exploitation libre et une distribution GNU/Linux communautaire développée par le projet Fedora et sponsorisée par l’entreprise Red Hat, qui lui fournit des développeurs ainsi que des moyens financiers et logistiques.&lt;/desc&gt;
            &lt;desc lang="ro"&gt;Fedora este o distribuție Linux bazată pe pachete RPM dezvoltată de comunitatea Proiectul Fedora și sponsorizată de Red Hat.&lt;/desc&gt;
            &lt;desc lang="en"&gt;Fedora is a fast, stable, and powerful operating system for everyday use built by a worldwide community of friends.&lt;/desc&gt;
			&lt;desc lang="ru"&gt;Fedora (англ. "мягкая фетровая шляпа", произносится "федо́ра", ранее Fedora Core) - дистрибутив операционной системы GNU/Linux. Этот дистрибутив спонсируется фирмой Red Hat и поддерживается сообществом.&lt;/desc&gt;
        &lt;/description&gt;
        &lt;versions&gt;
            &lt;version&gt;
                &lt;hash&gt;sha256:b115c5653b855de2353e41ff0c72158350f14a020c041462f35ba2a47bd1e33b&lt;/hash&gt;
                &lt;name&gt;Fedora 20.1&lt;/name&gt;
                &lt;download&gt;http://download.fedoraproject.org/pub/fedora/linux/releases/20/Live/i386/Fedora-Live-Desktop-i686-20-1.iso&lt;/download&gt;
                &lt;filenameRegex&gt;Fedora-Live-Desktop-i686-20-1.iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;false&lt;/isLatest&gt;
            &lt;/version&gt;
            &lt;version&gt;
                &lt;hash&gt;sha256:6e4c47b582ece2b431ee95d6f453945d11e28c712f7619b178cb31979138f884&lt;/hash&gt;
                &lt;name&gt;Fedora 22.3 x86&lt;/name&gt;
                &lt;download&gt;http://mir01.syntis.net/fedora/linux/releases/22/Workstation/i386/iso/Fedora-Live-Workstation-i686-22-3.iso&lt;/download&gt;
                &lt;filenameRegex&gt;Fedora-Live-Workstation-i686-22-3.iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;true&lt;/isLatest&gt;
            &lt;/version&gt;
            &lt;version&gt;
                &lt;hash&gt;sha256:615abfc89709a46a078dd1d39638019aa66f62b0ff8325334f1af100551bb6cf&lt;/hash&gt;
                &lt;name&gt;Fedora 22.3 x64&lt;/name&gt;
                &lt;download&gt;http://mir01.syntis.net/fedora/linux/releases/22/Workstation/x86_64/iso/Fedora-Live-Workstation-x86_64-22-3.iso&lt;/download&gt;
                &lt;filenameRegex&gt;Fedora-Live-Workstation-x86_64-22-3.iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;false&lt;/isLatest&gt;
            &lt;/version&gt;
        &lt;/versions&gt;
    &lt;/app&gt;
    &lt;app&gt;
        &lt;name&gt;Fusion Linux&lt;/name&gt;
        &lt;category&gt;3&lt;/category&gt;
        &lt;filenameRegex&gt;^Fusion-Linux-([0-9]+).iso$&lt;/filenameRegex&gt;
        &lt;noDl&gt;false&lt;/noDl&gt;
        &lt;description&gt;
            &lt;desc lang="fr"&gt;Fusion Linux est un systeme conçu pour les ordinateurs de bureau.&lt;/desc&gt;
            &lt;desc lang="en"&gt;Fusion Linux is a Linux distribution that has desktop usability.&lt;/desc&gt;
        &lt;/description&gt;
        &lt;versions&gt;
            &lt;version&gt;
                &lt;hash&gt;6e17614e3cb23db3f63446f55b179d17&lt;/hash&gt;
                &lt;name&gt;Fusion Linux 15&lt;/name&gt;
                &lt;download&gt;http://fusion.nestabilni.com/Fusion-Linux-15/Fusion-Linux-15.iso&lt;/download&gt;
                &lt;filenameRegex&gt;Fusion-Linux-15.iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;false&lt;/isLatest&gt;
            &lt;/version&gt;
            &lt;version&gt;
                &lt;hash&gt;4caa6e3c438b645839711fa8da4f17fe&lt;/hash&gt;
                &lt;name&gt;Fusion Linux 16 64-bit&lt;/name&gt;
                &lt;download&gt;http://fusion.nestabilni.com/current/Fusion-Linux-16-64bit.iso&lt;/download&gt;
                &lt;filenameRegex&gt;Fusion-Linux-16-64bit.iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;true&lt;/isLatest&gt;
            &lt;/version&gt;
        &lt;/versions&gt;
    &lt;/app&gt;
    &lt;app&gt;
        &lt;name&gt;Inquisitor&lt;/name&gt;
        &lt;category&gt;3&lt;/category&gt;
        &lt;filenameRegex&gt;^inq-live-([0-9a-z.]+)-([0-9a-z-]+).iso$&lt;/filenameRegex&gt;
        &lt;noDl&gt;false&lt;/noDl&gt;
        &lt;description&gt;
            &lt;desc lang="fr"&gt;Inquisitor est un système de test materiel.&lt;/desc&gt;
            &lt;desc lang="en"&gt;Inquisitor is an open-source hardware testing and certification system.&lt;/desc&gt;
        &lt;/description&gt;
        &lt;versions&gt;
            &lt;version&gt;
                &lt;hash&gt;25ab080c12f540236bca7fad901f7ff0&lt;/hash&gt;
                &lt;name&gt;Inquisitor Live 3.0&lt;/name&gt;
                &lt;download&gt;http://downloads.sourceforge.net/project/inq/inquisitor/3.0/inq-live-3.0-x86.iso&lt;/download&gt;
                &lt;filenameRegex&gt;inq-live-3.0-(.*).iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;false&lt;/isLatest&gt;
            &lt;/version&gt;
            &lt;version&gt;
                &lt;hash&gt;c7fef1289f36b4c25ee4057a9988d975&lt;/hash&gt;
                &lt;name&gt;Inquisitor Live 3.1 beta 2 x64&lt;/name&gt;
                &lt;download&gt;http://downloads.sourceforge.net/project/inq/inquisitor/3.1-beta2/inq-live-3.1beta2-amd64-debian.iso&lt;/download&gt;
                &lt;filenameRegex&gt;/inq-live-3.1(.*).iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;true&lt;/isLatest&gt;
            &lt;/version&gt;
        &lt;/versions&gt;
    &lt;/app&gt;
    &lt;app&gt;
        &lt;name&gt;Knoppix&lt;/name&gt;
        &lt;category&gt;3&lt;/category&gt;
        &lt;filenameRegex&gt;^KNOPPIX_V([0-9.]+)CD-[0-9-]{10}-[A-Z]{2}.iso$&lt;/filenameRegex&gt;
        &lt;noDl&gt;false&lt;/noDl&gt;
        &lt;description&gt;
            &lt;desc lang="de"&gt;Knoppix ist eine freie GNU/Linux-Distribution, deren Hauptanwendungsbereich im Live-Betrieb liegt. Sie wird von Klaus Knopper entwickelt, von dessen Namen sich die Benennung ableitet.&lt;/desc&gt;
            &lt;desc lang="fr"&gt;Knoppix est une distribution Linux basée sur Debian.&lt;/desc&gt;
            &lt;desc lang="ro"&gt;Knoppix este un sistem de operare cu nucleu Linux ce se bazeaza pe Debian GNU/Linux.&lt;/desc&gt;
            &lt;desc lang="en"&gt;Knoppix is a Debian-based Linux distribution.&lt;/desc&gt;
        &lt;/description&gt;
        &lt;versions&gt;
            &lt;version&gt;
                &lt;hash&gt;43e1bf11bd52d88d61379fdd38fe869c&lt;/hash&gt;
                &lt;name&gt;Knoppix 7.2.0&lt;/name&gt;
                &lt;download&gt;http://ftp.free.fr/pub/Distributions_Linux/knoppix/KNOPPIX_V7.2.0CD-2013-06-16-EN.iso&lt;/download&gt;
                &lt;filenameRegex&gt;/KNOPPIX_(.*).iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;true&lt;/isLatest&gt;
            &lt;/version&gt;
        &lt;/versions&gt;
    &lt;/app&gt;
    &lt;app&gt;
        &lt;name&gt;NetbootCD&lt;/name&gt;
        &lt;category&gt;3&lt;/category&gt;
        &lt;filenameRegex&gt;^NetbootCD-[0-9.]+.iso$&lt;/filenameRegex&gt;
        &lt;noDl&gt;false&lt;/noDl&gt;
        &lt;description&gt;
            &lt;desc lang="fr"&gt;NetbootCD est un live CD Linux basé sur Tiny Core Linux.&lt;/desc&gt;
            &lt;desc lang="en"&gt;NetbootCD is a Linux live CD based on Tiny Core Linux.&lt;/desc&gt;
        &lt;/description&gt;
        &lt;versions&gt;
            &lt;version&gt;
                &lt;hash&gt;75ef50099a4887df5195a31adb474db0&lt;/hash&gt;
                &lt;name&gt;NetbootCD 5.3.3&lt;/name&gt;
                &lt;download&gt;http://downloads.tuxfamily.org/netbootcd/5.3.3/NetbootCD-5.3.3.iso&lt;/download&gt;
                &lt;filenameRegex&gt;/NetbootCD-(.*).iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;true&lt;/isLatest&gt;
            &lt;/version&gt;
        &lt;/versions&gt;
    &lt;/app&gt;
    &lt;app&gt;
        &lt;name&gt;Ubuntu&lt;/name&gt;
        &lt;category&gt;3&lt;/category&gt;
        &lt;filenameRegex&gt;^ubuntu(.*).iso$&lt;/filenameRegex&gt;
        &lt;noDl&gt;false&lt;/noDl&gt;
        &lt;description&gt;
            &lt;desc lang="de"&gt;Ubuntu (auch: Ubuntu Linux) ist eine kostenlose Linux-Distribution, die auf Debian basiert. Der Name Ubuntu bedeutet auf Zulu etwa "Menschlichkeit" und bezeichnet eine afrikanische Philosophie.&lt;/desc&gt;
            &lt;desc lang="fr"&gt;Ubuntu est une distribution Linux rapide, gratuite et facile à utiliser.&lt;/desc&gt;
            &lt;desc lang="ro"&gt;Ubuntu este un sistem de operare bazat pe Linux pentru computerele personale, servere și netbook-uri.&lt;/desc&gt;
            &lt;desc lang="en"&gt;Ubuntu is a fast, free and incredibly easy to use Linux distribution.&lt;/desc&gt;
        &lt;/description&gt;
        &lt;versions&gt;
            &lt;version&gt;
                &lt;hash&gt;09eb43dcfce2b7246bdd6e8108e755df&lt;/hash&gt;
                &lt;name&gt;Ubuntu 12.04.5 LTS x86&lt;/name&gt;
                &lt;download&gt;http://releases.ubuntu.com/12.04.5/ubuntu-12.04.5-desktop-i386.iso&lt;/download&gt;
                &lt;filenameRegex&gt;/ubuntu-12.04(.*)-i386.iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;false&lt;/isLatest&gt;
            &lt;/version&gt;
            &lt;version&gt;
                &lt;hash&gt;48b4edf237c489eebbfef208c2650d11&lt;/hash&gt;
                &lt;name&gt;Ubuntu 12.04.5 LTS x64&lt;/name&gt;
                &lt;download&gt;http://releases.ubuntu.com/12.04.5/ubuntu-12.04.5-desktop-amd64.iso&lt;/download&gt;
                &lt;filenameRegex&gt;/ubuntu-12.04(.*)-amd64.iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;false&lt;/isLatest&gt;
            &lt;/version&gt;
            &lt;version&gt;
                &lt;hash&gt;c4d4d037d7d0a05e8f526d18aa25fb5e&lt;/hash&gt;
                &lt;name&gt;Ubuntu 14.04 x86&lt;/name&gt;
                &lt;download&gt;http://releases.ubuntu.com/14.04/ubuntu-14.04-desktop-i386.iso&lt;/download&gt;
                &lt;filenameRegex&gt;/ubuntu-14.04-(.*).iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;false&lt;/isLatest&gt;
            &lt;/version&gt;
            &lt;version&gt;
                &lt;hash&gt;7d483b990de4e1369b76b7b693737191&lt;/hash&gt;
                &lt;name&gt;Ubuntu 15.10 x86&lt;/name&gt;
                &lt;download&gt;http://releases.ubuntu.com/15.10/ubuntu-15.10-desktop-i386.iso&lt;/download&gt;
                &lt;filenameRegex&gt;/ubuntu-15.10(.*)-i386.iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;false&lt;/isLatest&gt;
            &lt;/version&gt;
            &lt;version&gt;
                &lt;hash&gt;ece816e12f97018fa3d4974b5fd27337&lt;/hash&gt;
                &lt;name&gt;Ubuntu 15.10 x64&lt;/name&gt;
                &lt;download&gt;http://releases.ubuntu.com/15.10/ubuntu-15.10-desktop-amd64.iso&lt;/download&gt;
                &lt;filenameRegex&gt;/ubuntu-15.10(.*)-amd64.iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;true&lt;/isLatest&gt;
            &lt;/version&gt;
        &lt;/versions&gt;
    &lt;/app&gt;
    &lt;app&gt;
        &lt;name&gt;Edubuntu&lt;/name&gt;
        &lt;category&gt;3&lt;/category&gt;
        &lt;filenameRegex&gt;^edubuntu(.*).iso$&lt;/filenameRegex&gt;
        &lt;noDl&gt;false&lt;/noDl&gt;
        &lt;description&gt;
            &lt;desc lang="de"&gt;Edubuntu ist eine für die Verwendung in der Schule entwickelte Erweiterung zu Ubuntu, das auf dem Ubuntu Linux Terminal Server Project aufsetzt.&lt;/desc&gt;
            &lt;desc lang="fr"&gt;Edubuntu est la version d'éducation d'Ubuntu.&lt;/desc&gt;
            &lt;desc lang="ro"&gt;Edubuntu este o distribuție membră a familiei Ubuntu de distribuții Linux, special proiectată pentru a fi folosită în scopuri educaționale.&lt;/desc&gt;
            &lt;desc lang="en"&gt;Edubuntu is the Education version of Ubuntu.&lt;/desc&gt;
        &lt;/description&gt;
        &lt;versions&gt;
            &lt;version&gt;
                &lt;hash&gt;1919086a97af4092342933a5eccbab62&lt;/hash&gt;
                &lt;name&gt;Edubuntu 14.04&lt;/name&gt;
                &lt;download&gt;http://cdimage.ubuntu.com/edubuntu/releases/14.04/release/edubuntu-14.04-dvd-i386.iso&lt;/download&gt;
                &lt;filenameRegex&gt;edubuntu-14.04-dvd-i386.iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;true&lt;/isLatest&gt;
            &lt;/version&gt;
        &lt;/versions&gt;
    &lt;/app&gt;
    &lt;app&gt;
        &lt;name&gt;Kubuntu&lt;/name&gt;
        &lt;category&gt;3&lt;/category&gt;
        &lt;filenameRegex&gt;^kubuntu(.*).iso$&lt;/filenameRegex&gt;
        &lt;noDl&gt;false&lt;/noDl&gt;
        &lt;description&gt;
            &lt;desc lang="de"&gt;Kubuntu ist eine Ubuntu-Variante mit der Arbeitsumgebung KDE, die erstmals mit der Version 5.04 erschienen ist.&lt;/desc&gt;
            &lt;desc lang="fr"&gt;Kubuntu est la version KDE d'Ubuntu.&lt;/desc&gt;
            &lt;desc lang="ro"&gt;Kubuntu este un derivat oficial al Ubuntu ce folosește KDE Plasma Desktop în locul GNOME.&lt;/desc&gt;
            &lt;desc lang="en"&gt;Kubuntu is the KDE version of Ubuntu.&lt;/desc&gt;
        &lt;/description&gt;
        &lt;versions&gt;
            &lt;version&gt;
                &lt;hash&gt;327cf4202f8e2601ce0d772082c84b86&lt;/hash&gt;
                &lt;name&gt;Kubuntu 14.04&lt;/name&gt;
                &lt;download&gt;http://cdimage.ubuntu.com/kubuntu/releases/14.04/release/kubuntu-14.04-desktop-i386.iso&lt;/download&gt;
                &lt;filenameRegex&gt;kubuntu-14.04-desktop-i386.iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;true&lt;/isLatest&gt;
            &lt;/version&gt;
        &lt;/versions&gt;
    &lt;/app&gt;
    &lt;app&gt;
        &lt;name&gt;Lubuntu&lt;/name&gt;
        &lt;category&gt;3&lt;/category&gt;
        &lt;filenameRegex&gt;^lubuntu(.*).iso$&lt;/filenameRegex&gt;
        &lt;noDl&gt;false&lt;/noDl&gt;
        &lt;description&gt;
            &lt;desc lang="de"&gt;Lubuntu ist ein Derivat, das für den Einsatz auf leistungsschwächerer Hardware konzipiert ist. Als Desktop-Umgebung setzt es das besonders ressourcensparende LXDE ein, durch den Einsatz von Openbox als Fenstermanager wird nur etwa halb soviel Arbeitsspeicher wie bei Xubuntu benötigt.&lt;/desc&gt;
            &lt;desc lang="fr"&gt;Lubuntu est la version LXDE d'Ubuntu.&lt;/desc&gt;
            &lt;desc lang="en"&gt;Lubuntu is the LXDE version of Ubuntu.&lt;/desc&gt;
        &lt;/description&gt;
        &lt;versions&gt;
            &lt;version&gt;
                &lt;hash&gt;b0d1c58c8515ab40382d01f59655ba85&lt;/hash&gt;
                &lt;name&gt;Lubuntu 14.04&lt;/name&gt;
                &lt;download&gt;http://cdimage.ubuntu.com/lubuntu/releases/14.04/release/lubuntu-14.04-desktop-i386.iso&lt;/download&gt;
                &lt;filenameRegex&gt;lubuntu-14.04-desktop-i386.iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;true&lt;/isLatest&gt;
            &lt;/version&gt;
        &lt;/versions&gt;
    &lt;/app&gt;
    &lt;app&gt;
        &lt;name&gt;Ubuntu GNOME&lt;/name&gt;
        &lt;category&gt;3&lt;/category&gt;
        &lt;filenameRegex&gt;^ubuntu-gnome(.*).iso$&lt;/filenameRegex&gt;
        &lt;noDl&gt;false&lt;/noDl&gt;
        &lt;description&gt;
            &lt;desc lang="de"&gt;Die Variante Ubuntu GNOME (vormals: Ubuntu Gnome Remix) verwendet die Gnome Shell an Stelle von Unity, sowie ein paar andere Gnome-Applikationen, welche in Ubuntu standardmäßig nicht installiert sind.&lt;/desc&gt;
            &lt;desc lang="fr"&gt;Ubuntu GNOME est l'édition d'Ubuntu reposant sur l'environnement GNOME.&lt;/desc&gt;
            &lt;desc lang="en"&gt;Ubuntu GNOME is the GNOME edition of Ubuntu.&lt;/desc&gt;
        &lt;/description&gt;
        &lt;versions&gt;
            &lt;version&gt;
                &lt;hash&gt;ab5c39caef103694fe97bda23412ff00&lt;/hash&gt;
                &lt;name&gt;Ubuntu GNOME 14.04&lt;/name&gt;
                &lt;download&gt;http://cdimage.ubuntu.com/ubuntu-gnome/releases/14.04/release/ubuntu-gnome-14.04-desktop-i386.iso&lt;/download&gt;
                &lt;filenameRegex&gt;ubuntu-gnome-14.04-desktop-i386.iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;true&lt;/isLatest&gt;
            &lt;/version&gt;
        &lt;/versions&gt;
    &lt;/app&gt;
    &lt;app&gt;
        &lt;name&gt;Ubuntu Server&lt;/name&gt;
        &lt;category&gt;3&lt;/category&gt;
        &lt;filenameRegex&gt;^ubuntu-[0-9.]{5}-server-[0-9a-z]+.iso$&lt;/filenameRegex&gt;
        &lt;noDl&gt;false&lt;/noDl&gt;
        &lt;description&gt;
            &lt;desc lang="de"&gt;Die Ubuntu Server Edition ist eine Zusammenstellung mit mehr Serverdiensten statt grafischer Benutzeroberfläche.&lt;/desc&gt;
            &lt;desc lang="fr"&gt;Ubuntu Server est la version serveur de la très populaire distribution Linux, Ubuntu.&lt;/desc&gt;
            &lt;desc lang="en"&gt;Ubuntu Server is the server edition of the popular Linux distribution, Ubuntu.&lt;/desc&gt;
        &lt;/description&gt;
        &lt;versions&gt;
            &lt;version&gt;
                &lt;hash&gt;08d25bf879e353686a974b7b14ae7d81&lt;/hash&gt;
                &lt;name&gt;Ubuntu Server 14.04&lt;/name&gt;
                &lt;download&gt;http://releases.ubuntu.com/14.04/ubuntu-14.04-server-i386.iso&lt;/download&gt;
                &lt;filenameRegex&gt;ubuntu-14.04-server-i386.iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;true&lt;/isLatest&gt;
            &lt;/version&gt;
        &lt;/versions&gt;
    &lt;/app&gt;
    &lt;app&gt;
        &lt;name&gt;Ubuntu Studio&lt;/name&gt;
        &lt;category&gt;3&lt;/category&gt;
        &lt;filenameRegex&gt;^ubuntustudio(.*).iso$&lt;/filenameRegex&gt;
        &lt;noDl&gt;false&lt;/noDl&gt;
        &lt;description&gt;
            &lt;desc lang="de"&gt;Ubuntu Studio ist speziell auf die Anforderungen von Audio-, Grafik- und Videobearbeitung ausgerichtet. Für solche Zwecke wurde den Ubuntu-Quellen ein Kernel mit Echtzeitfunktionen hinzugefügt, der dafür keinerlei Energiesparfunktionen unterstützt.&lt;/desc&gt;
            &lt;desc lang="fr"&gt;Ubuntu Studio est un système gratuit et ouvert pour les gens créatifs.&lt;/desc&gt;
            &lt;desc lang="ro"&gt;Ubuntu Studio este o variantă de Ubuntu care se concentrează pe editare video, audio și grafică.&lt;/desc&gt;
            &lt;desc lang="en"&gt;Ubuntu Studio is a free and open operating system for creative people.&lt;/desc&gt;
        &lt;/description&gt;
        &lt;versions&gt;
            &lt;version&gt;
                &lt;hash&gt;75cdb9b7cb42e4bd04d2554e6142764c&lt;/hash&gt;
                &lt;name&gt;Ubuntu Studio 14.04&lt;/name&gt;
                &lt;download&gt;http://cdimage.ubuntu.com/ubuntustudio/releases/14.04/release/ubuntustudio-14.04-dvd-i386.iso&lt;/download&gt;
                &lt;filenameRegex&gt;ubuntustudio-14.04-dvd-i386.iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;true&lt;/isLatest&gt;
            &lt;/version&gt;
        &lt;/versions&gt;
    &lt;/app&gt;
    &lt;app&gt;
        &lt;name&gt;Xubuntu&lt;/name&gt;
        &lt;category&gt;3&lt;/category&gt;
        &lt;filenameRegex&gt;^xubuntu(.*).iso$&lt;/filenameRegex&gt;
        &lt;noDl&gt;false&lt;/noDl&gt;
        &lt;description&gt;
            &lt;desc lang="de"&gt;Xubuntu ist eine Abwandlung von Ubuntu, die die ressourcensparende Xfce-Arbeitsumgebung verwendet. Daher eignet sich Xubuntu für ältere Computer mit wenig Arbeitsspeicher, bei denen die Installation der Standardversion problematisch ist.&lt;/desc&gt;
            &lt;desc lang="fr"&gt;Xubuntu est l'édition d'Ubuntu reposant sur l'environnement Xfce.&lt;/desc&gt;
            &lt;desc lang="ro"&gt;Xubuntu este o distribuție oficială derivată din Ubuntu, folosind sistemul grafic Xfce.&lt;/desc&gt;
            &lt;desc lang="en"&gt;Xubuntu is the Xfce version of Ubuntu.&lt;/desc&gt;
        &lt;/description&gt;
        &lt;versions&gt;
            &lt;version&gt;
                &lt;hash&gt;ccd326466b705bc324a20dd45cb3de82&lt;/hash&gt;
                &lt;name&gt;Xubuntu 14.04&lt;/name&gt;
                &lt;download&gt;http://cdimage.ubuntu.com/xubuntu/releases/14.04/release/xubuntu-14.04-desktop-i386.iso&lt;/download&gt;
                &lt;filenameRegex&gt;xubuntu-14.04-desktop-i386.iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;true&lt;/isLatest&gt;
            &lt;/version&gt;
        &lt;/versions&gt;
    &lt;/app&gt;
    &lt;app&gt;
        &lt;name&gt;EaseUS Partition Master WinPE Edition&lt;/name&gt;
        &lt;category&gt;4&lt;/category&gt;
        &lt;filenameRegex&gt;easeuspartitionmasterwinpeedition.iso&lt;/filenameRegex&gt;
        &lt;noDl&gt;true&lt;/noDl&gt;
        &lt;description&gt;
            &lt;desc lang="en"&gt;EaseUS Partition Master is software that manages disk partitioning. The product enables users to resize FAT16, FAT32, or NTFS partitions and to create, copy, format, merge, remove, and split partitions while keeping data intact.&lt;/desc&gt;
        &lt;/description&gt;
        &lt;versions /&gt;
    &lt;/app&gt;
    &lt;app&gt;
        &lt;name&gt;Parted Magic&lt;/name&gt;
        &lt;category&gt;4&lt;/category&gt;
        &lt;filenameRegex&gt;^pmagic(.*).iso$&lt;/filenameRegex&gt;
        &lt;noDl&gt;true&lt;/noDl&gt;
        &lt;description&gt;
            &lt;desc lang="en"&gt;&lt;/desc&gt;
        &lt;/description&gt;
        &lt;versions&gt;
            &lt;version&gt;
                &lt;hash&gt;3441b138b43a62a1b6b1d3e4dca12e71&lt;/hash&gt;
                &lt;name&gt;Parted Magic 2014-11-19&lt;/name&gt;
                &lt;download&gt;www.google.com/search?q=Parted Magic 2014-11-19&lt;/download&gt;
                &lt;filenameRegex&gt;pmagic_2014_11_19.iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;true&lt;/isLatest&gt;
            &lt;/version&gt;
        &lt;/versions&gt;
    &lt;/app&gt;
    &lt;app&gt;
        &lt;name&gt;Clonezilla&lt;/name&gt;
        &lt;category&gt;4&lt;/category&gt;
        &lt;filenameRegex&gt;^clonezilla-live-([0-9]{8})-([a-z]+)-([a-z0-9]+).iso$&lt;/filenameRegex&gt;
        &lt;noDl&gt;false&lt;/noDl&gt;
        &lt;description&gt;
            &lt;desc lang="de"&gt;Clonezilla ist ein kostenloses und freies Computerprogramm des taiwanischen National Center for High Performance Computing (NCHC) zum Herstellen von 1:1-Abbildern von PC-Festplatten.&lt;/desc&gt;
            &lt;desc lang="fr"&gt;Clonezilla est un outil de partitionnement et de clonage de disques similaire a True Image® ou Norton Ghost®.&lt;/desc&gt;
            &lt;desc lang="en"&gt;Clonezilla is a partition and disk imaging/cloning program similar to True Image® or Norton Ghost®.&lt;/desc&gt;
        &lt;/description&gt;
        &lt;versions&gt;
            &lt;version&gt;
                &lt;hash&gt;95aed0dd50964c3adcb17183ab1dff37&lt;/hash&gt;
                &lt;name&gt;Clonezilla 2.4.2-61&lt;/name&gt;
                &lt;download&gt;http://downloads.sourceforge.net/project/clonezilla/clonezilla_live_stable/2.4.2-61/clonezilla-live-2.4.2-61-amd64.iso&lt;/download&gt;
                &lt;filenameRegex&gt;/clonezilla-live-2\.4\.2-61-(.*).iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;true&lt;/isLatest&gt;
            &lt;/version&gt;
        &lt;/versions&gt;
    &lt;/app&gt;
    &lt;app&gt;
        &lt;name&gt;Darik's Boot and Nuke&lt;/name&gt;
        &lt;category&gt;4&lt;/category&gt;
        &lt;filenameRegex&gt;^dban-([0-9.]+)_([a-z0-9]+).iso$&lt;/filenameRegex&gt;
        &lt;noDl&gt;false&lt;/noDl&gt;
        &lt;description&gt;
            &lt;desc lang="de"&gt;Darik’s Boot and Nuke (meist abgekürzt mit dem Akronym "DBAN") ist ein freies, Linux-basiertes Live-System, dessen Aufgabe einzig das unwiderrufliche Löschen von Festplatten oder anderen beschreibbaren Datenspeichern ist. Im Ergebnis können die Dateien selbst mit forensischen Spezialwerkzeugen nicht wiederhergestellt werden.&lt;/desc&gt;
            &lt;desc lang="fr"&gt;DBAN est un disque de démarrage qui efface automatiquement le contenu de tous les disques qu'il détecte.&lt;/desc&gt;
            &lt;desc lang="en"&gt;DBAN is a self-contained boot disk that automatically deletes the contents of any disk it detects.&lt;/desc&gt;
        &lt;/description&gt;
        &lt;versions&gt;
            &lt;version&gt;
                &lt;hash&gt;d076d4bc510eb39f57196773172ad072&lt;/hash&gt;
                &lt;name&gt;Darik's Boot and Nuke 2.2.8&lt;/name&gt;
                &lt;download&gt;http://downloads.sourceforge.net/project/dban/dban/dban-2.2.8/dban-2.2.8_i586.iso&lt;/download&gt;
                &lt;filenameRegex&gt;/dban-2.2.8_(.*).iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;false&lt;/isLatest&gt;
            &lt;/version&gt;
            &lt;version&gt;
                &lt;hash&gt;33a1df4171e649462ef9679ac207aa77&lt;/hash&gt;
                &lt;name&gt;Darik's Boot and Nuke 2.3.0&lt;/name&gt;
                &lt;download&gt;http://downloads.sourceforge.net/project/dban/dban/dban-2.3.0/dban-2.3.0_i586.iso&lt;/download&gt;
                &lt;filenameRegex&gt;/dban-2.3.0_(.*).iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;true&lt;/isLatest&gt;
            &lt;/version&gt;
        &lt;/versions&gt;
    &lt;/app&gt;
    &lt;app&gt;
        &lt;name&gt;GParted&lt;/name&gt;
        &lt;category&gt;4&lt;/category&gt;
        &lt;filenameRegex&gt;^gparted-live-([0-9.-]+)([0-9a-z]+).iso$&lt;/filenameRegex&gt;
        &lt;noDl&gt;false&lt;/noDl&gt;
        &lt;description&gt;
            &lt;desc lang="de"&gt;GParted (GNU Parted) ist ein freies plattformübergreifendes Partitionierungsprogramm, das mit den grafischen Oberflächen GParted und QtParted dazu verwendet werden kann, Partitionen und darin liegende Dateisysteme zu bearbeiten und zu überprüfen.&lt;/desc&gt;
            &lt;desc lang="fr"&gt;GParted est un gestionnaire de partitions qui permet de redimensionner, copier et déplacer des partitions sans pertes.&lt;/desc&gt;
            &lt;desc lang="en"&gt;GParted is a free partition manager that enables you to resize, copy, and move partitions without data loss.&lt;/desc&gt;
        &lt;/description&gt;
        &lt;versions&gt;
            &lt;version&gt;
                &lt;hash&gt;d57b2f94a54a0f48899f8e21d070cb40&lt;/hash&gt;
                &lt;name&gt;GParted 0.19.0-1&lt;/name&gt;
                &lt;download&gt;http://downloads.sourceforge.net/project/gparted/gparted-live-stable/0.19.0-1/gparted-live-0.19.0-1-i486.iso&lt;/download&gt;
                &lt;filenameRegex&gt;/gparted-live-0.19.0-1-(.*).iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;false&lt;/isLatest&gt;
            &lt;/version&gt;
            &lt;version&gt;
                &lt;hash&gt;f6e11d722ab8167568bdf6e393c50651&lt;/hash&gt;
                &lt;name&gt;GParted 0.24.0-2&lt;/name&gt;
                &lt;download&gt;http://downloads.sourceforge.net/project/gparted/gparted-live-stable/0.24.0-2/gparted-live-0.24.0-2-i586.iso&lt;/download&gt;
                &lt;filenameRegex&gt;/gparted-live-0.24.0-2-(.*).iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;true&lt;/isLatest&gt;
            &lt;/version&gt;
        &lt;/versions&gt;
    &lt;/app&gt;
    &lt;app&gt;
        &lt;name&gt;Offline Windows NT Password &amp;amp; Registry Editor&lt;/name&gt;
        &lt;category&gt;5&lt;/category&gt;
        &lt;filenameRegex&gt;^(cd[0-9]{6}).iso$&lt;/filenameRegex&gt;
        &lt;noDl&gt;false&lt;/noDl&gt;
        &lt;description&gt;
            &lt;desc lang="de"&gt;CHNTPW ist ein Hilfsprogramm, um das Passwort eines beliebigen Nutzers zurückzusetzen, welcher ein gültiges lokales Benutzerkonto auf einem Windows system hat.&lt;/desc&gt;
            &lt;desc lang="fr"&gt;CHNTPW est un outil permettant de modifier ou effacer les mot de passe de Windows 95 à 10.&lt;/desc&gt;
            &lt;desc lang="en"&gt;CHNTPW is a utility to reset the password of any user that has a valid local account on your Windows system.&lt;/desc&gt;
        &lt;/description&gt;
        &lt;versions&gt;
            &lt;version&gt;
                &lt;hash&gt;06bbed5b81475c6899dbb549a755b00d&lt;/hash&gt;
                &lt;name&gt;chntpw 2014-02-01&lt;/name&gt;
                &lt;download&gt;https://dl.dropboxusercontent.com/u/98959151/chntpw_140201.iso&lt;/download&gt;
                &lt;filenameRegex&gt;cd140201.iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;true&lt;/isLatest&gt;
            &lt;/version&gt;
        &lt;/versions&gt;
    &lt;/app&gt;
    &lt;app&gt;
        &lt;name&gt;Kon-Boot&lt;/name&gt;
        &lt;category&gt;5&lt;/category&gt;
        &lt;filenameRegex&gt;^kon-boot(.*).(img|iso)$&lt;/filenameRegex&gt;
        &lt;noDl&gt;false&lt;/noDl&gt;
        &lt;description&gt;
            &lt;desc lang="en"&gt;&lt;/desc&gt;
        &lt;/description&gt;
        &lt;versions&gt;
            &lt;version&gt;
                &lt;hash&gt;eed910d2ef9b058cf3eec28294bd303c&lt;/hash&gt;
                &lt;name&gt;Kon-Boot 2.5&lt;/name&gt;
                &lt;download&gt;https://dl.dropboxusercontent.com/u/98959151/konboot.img&lt;/download&gt;
                &lt;filenameRegex&gt;konboot.img&lt;/filenameRegex&gt;
                &lt;isLatest&gt;true&lt;/isLatest&gt;
            &lt;/version&gt;
        &lt;/versions&gt;
    &lt;/app&gt;
    &lt;app&gt;
        &lt;name&gt;Ophcrack&lt;/name&gt;
        &lt;category&gt;5&lt;/category&gt;
        &lt;filenameRegex&gt;^ophcrack-(\w+)-livecd-([0-9.]+).iso$&lt;/filenameRegex&gt;
        &lt;noDl&gt;false&lt;/noDl&gt;
        &lt;description&gt;
            &lt;desc lang="de"&gt;Ophcrack ist ein freies Computerprogramm unter der GPL-Lizenz, das verschlüsselte(gehashte) Passwörter mithilfe von Rainbow Tables versucht zu entschlüsseln. Das Programm unterstützt das Importieren von LM-Hashes und NTLM-Hashes, inklusive des direkten Importierens der SAM-Datei unter Windows.&lt;/desc&gt;
            &lt;desc lang="fr"&gt;Ophcrack est un outil gratuit de craquage de mot de passes.&lt;/desc&gt;
            &lt;desc lang="en"&gt;Ophcrack is a free Windows password cracker based on rainbow tables.&lt;/desc&gt;
        &lt;/description&gt;
        &lt;versions&gt;
            &lt;version&gt;
                &lt;hash&gt;b23afa62f670dee41c8f01c436c0a092&lt;/hash&gt;
                &lt;name&gt;Ophcrack (XP) 3.6.0&lt;/name&gt;
                &lt;download&gt;http://downloads.sourceforge.net/project/ophcrack/ophcrack-livecd/3.6.0/ophcrack-xp-livecd-3.6.0.iso&lt;/download&gt;
                &lt;filenameRegex&gt;/ophcrack-xp-livecd-(.*).iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;true&lt;/isLatest&gt;
            &lt;/version&gt;
            &lt;version&gt;
                &lt;hash&gt;f0753acfe2fce5249ceceec7dfeacea9&lt;/hash&gt;
                &lt;name&gt;Ophcrack (Vista/7/8) 3.6.0&lt;/name&gt;
                &lt;download&gt;http://downloads.sourceforge.net/project/ophcrack/ophcrack-livecd/3.6.0/ophcrack-vista-livecd-3.6.0.iso&lt;/download&gt;
                &lt;filenameRegex&gt;/ophcrack-vista-livecd-(.*).iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;false&lt;/isLatest&gt;
            &lt;/version&gt;
        &lt;/versions&gt;
    &lt;/app&gt;
    &lt;app&gt;
        &lt;name&gt;Memtest86+&lt;/name&gt;
        &lt;category&gt;9&lt;/category&gt;
        &lt;filenameRegex&gt;^(?:memtest86(\+|plus)[-_]([0-9.]+).iso|MEMTEST\.IMG)$&lt;/filenameRegex&gt;
        &lt;noDl&gt;false&lt;/noDl&gt;
        &lt;description&gt;
            &lt;desc lang="de"&gt;Memtest86 ist eine Software, mit der man den Arbeitsspeicher eines Computers auf Fehler überprüfen kann.&lt;/desc&gt;
            &lt;desc lang="fr"&gt;Memtest86 permet d'effectuer un diagnostic complet de la mémoire d'un ordinateur.&lt;/desc&gt;
            &lt;desc lang="en"&gt;Memtest86 is an open source memory test software programs designed to test and stress test an x86 architecture computer's RAM.&lt;/desc&gt;
        &lt;/description&gt;
        &lt;versions&gt;
            &lt;version&gt;
                &lt;hash&gt;0f3d162f0c2f42da1455993ac4df396b&lt;/hash&gt;
                &lt;name&gt;Memtest86+ 5.01&lt;/name&gt;
                &lt;download&gt;https://dl.dropboxusercontent.com/u/98959151/memtest86plus-501.iso&lt;/download&gt;
                &lt;filenameRegex&gt;memtest86plus_501.iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;true&lt;/isLatest&gt;
            &lt;/version&gt;
        &lt;/versions&gt;
    &lt;/app&gt;
    &lt;app&gt;
        &lt;name&gt;Memtest86&lt;/name&gt;
        &lt;category&gt;9&lt;/category&gt;
        &lt;filenameRegex&gt;^Memtest86-([0-9.]+).iso$&lt;/filenameRegex&gt;
        &lt;noDl&gt;false&lt;/noDl&gt;
        &lt;description&gt;
            &lt;desc lang="de"&gt;Memtest86 ist eine Software, mit der man den Arbeitsspeicher eines Computers auf Fehler überprüfen kann.&lt;/desc&gt;
            &lt;desc lang="fr"&gt;Memtest86 permet d'effectuer un diagnostic complet de la mémoire d'un ordinateur.&lt;/desc&gt;
            &lt;desc lang="en"&gt;Memtest86 is an open source memory test software programs designed to test and stress test an x86 architecture computer's RAM.&lt;/desc&gt;
        &lt;/description&gt;
        &lt;versions&gt;
            &lt;version&gt;
                &lt;hash&gt;0c7dd6227dabcb1a5e56c96f178f381d&lt;/hash&gt;
                &lt;name&gt;Memtest86 4.3.7&lt;/name&gt;
                &lt;download&gt;https://dl.dropboxusercontent.com/u/98959151/Memtest86-4.3.7.iso&lt;/download&gt;
                &lt;filenameRegex&gt;Memtest86-4.3.7.iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;false&lt;/isLatest&gt;
            &lt;/version&gt;
            &lt;version&gt;
                &lt;hash&gt;ad1310faef37409e1a1b845a5268cb76&lt;/hash&gt;
                &lt;name&gt;Memtest86 6.2.0&lt;/name&gt;
                &lt;download&gt;https://dl.dropboxusercontent.com/u/98959151/Memtest86-6.2.0.iso&lt;/download&gt;
                &lt;filenameRegex&gt;Memtest86-6.2.0.iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;true&lt;/isLatest&gt;
            &lt;/version&gt;
        &lt;/versions&gt;
    &lt;/app&gt;
    &lt;app&gt;
        &lt;name&gt;Redo Backup and Recovery&lt;/name&gt;
        &lt;category&gt;9&lt;/category&gt;
        &lt;filenameRegex&gt;^redobackup-livecd-([0-9.]+).iso$&lt;/filenameRegex&gt;
        &lt;noDl&gt;false&lt;/noDl&gt;
        &lt;description&gt;
            &lt;desc lang="fr"&gt;Redo Backup est un système de sauvegarde, de restauration et d'édition de partition.&lt;/desc&gt;
            &lt;desc lang="en"&gt;Redo Backup is an easy rescue system with GUI tools for full system backup, bare metal recovery and partition editing.&lt;/desc&gt;
        &lt;/description&gt;
        &lt;versions&gt;
            &lt;version&gt;
                &lt;hash&gt;f84b757242c1b050f8cbed7142197d81&lt;/hash&gt;
                &lt;name&gt;Redo Backup and Recovery 1.0.4&lt;/name&gt;
                &lt;download&gt;http://downloads.sourceforge.net/project/redobackup/redobackup-livecd-1.0.4.iso&lt;/download&gt;
                &lt;filenameRegex&gt;redobackup-livecd-1.0.4.iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;true&lt;/isLatest&gt;
            &lt;/version&gt;
        &lt;/versions&gt;
    &lt;/app&gt;
    &lt;app&gt;
        &lt;name&gt;Ultimate Boot CD 4 DOS&lt;/name&gt;
        &lt;category&gt;9&lt;/category&gt;
        &lt;filenameRegex&gt;^ubcd[0-9]{2,3}.iso$&lt;/filenameRegex&gt;
        &lt;noDl&gt;false&lt;/noDl&gt;
        &lt;description&gt;
            &lt;desc lang="fr"&gt;UBCD 4 DOS est un système qui regroupe plein d'outils utiles.&lt;/desc&gt;
            &lt;desc lang="en"&gt;UBCD 4 DOS is a system that regroups lots of useful utilities.&lt;/desc&gt;
        &lt;/description&gt;
        &lt;versions&gt;
            &lt;version&gt;
                &lt;hash&gt;a5617e0bdd3ccc3cb3a1b1dd20396d7a&lt;/hash&gt;
                &lt;name&gt;Ultimate Boot CD 4 DOS 5.3.0&lt;/name&gt;
                &lt;download&gt;http://ftp.cc.uoc.gr/mirrors/linux/ubcd/ubcd530.iso&lt;/download&gt;
                &lt;filenameRegex&gt;ubcd530.iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;false&lt;/isLatest&gt;
            &lt;/version&gt;
            &lt;version&gt;
                &lt;hash&gt;&lt;/hash&gt;
                &lt;name&gt;Ultimate Boot CD 4 DOS 5.3.5&lt;/name&gt;
                &lt;download&gt;http://ftp.cc.uoc.gr/mirrors/linux/ubcd/ubcd535.iso&lt;/download&gt;
                &lt;filenameRegex&gt;ubcd535.iso&lt;/filenameRegex&gt;
                &lt;isLatest&gt;true&lt;/isLatest&gt;
            &lt;/version&gt;
        &lt;/versions&gt;
    &lt;/app&gt;
&lt;/apps&gt;</value>
      </setting>
    </SharpBoot.Properties.Settings>
  </userSettings>
</configuration>